/* LIMITE */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #232325;
  padding: 20px;
  font-family: Arial;
  color: white;
  font-size: 18px;
}

/* Center website */
.main {
  transition: margin-left .5s;
}

.captures {
    width:90%;
}

.hidden {
    display: none;
}

.affImg {
    background:#232325;
    color: white;
    padding: 4px;
}

@media screen and (max-width: 990px) {
    #nom {
        display: none;
    }
}

p a {
  color: gray;
}

p a:hover {
  transition: 0.4s;
  color: pink;
}


#par {
  font-size: 18px;
}

.affImg:hover {
    background:#D3D3D3;
    color: #232325;
    padding: 4px;
    transition: 0.4s;
    cursor: pointer;
}

#avatar {
    max-height: 230px;
    float: right;
    border-radius:50%;
    border: 4px solid white;
    webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: 1.2s;
}

#avatar:hover {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  border: 4px solid white;
  transition: 1.2s;
}


h1 {
    font-size: 50px;
    word-break: break-all;
    margin: 16px 0;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logos  {
  opacity: 0.16;
  bottom: 0;
  left: 0;
  right:0;
  margin: auto;
  top:0;
  height: 90%;
  position: absolute;
  max-width: 100%;
  z-index: 0;
}

.content h3, .content p {
  z-index: 1 !important;
}

/* Content */
.content {
    background-color: white;
    color: #232325;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* #232325 */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    transition: .5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 12px;
    text-decoration: none;
    font-size: 22px;
    color: #232325;
    display: block;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
    transition: 0.5s;
    background-color: #232325;
}

.current {
    color: white !important;
    transition: 0.5s;
    background-color: #232325;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline .container p {
    font-size: 18px;
    margin: 0;
}

.timeline .container li {
    font-size: 18px;
    margin-left: 25px;;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #232325;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 900px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

#hidenav {
  position: fixed;
  color: #232325;
  font-size: 40px;
  top: 2px;
  left: 125px;
  z-index :+2;
  cursor: pointer;
  transition: .5s;
}

#shownav {
  display: none;
  position: fixed;
  color: white;
  font-size: 40px;
  top: 2px;
  left: 2px;
  z-index :+2;
  cursor: pointer;
  transition: .5s;
}
@media (pointer: fine){
#shownavmobile {
  display:none;
}

#hidenavmobile {
  display:none;
}
}
@media screen and (max-width: 610px) {

  .main {
    margin-left: 0 !important;
  }

}
/**
@media (pointer: coarse) {
  a[href='#sectionPres'] {
    margin-top: 75px !important;
  }

  .sidenav a {
    height: 8%;
    font-size: 25px;
  }

  .sidenav {
    width: 50%;
  }

  .main {
    margin-left: 0;
  }

  #hidenavmobile {
    position: fixed;
    color: #232325;
    font-size: 70px;
    top: 2px;
    left: 38%;
    z-index :+2;
    cursor: pointer;
    transition: .5s;
  }

  #shownavmobile {
    position: fixed;
    color: white;
    font-size: 70px;
    top: 2px;
    left: 2px;
    z-index :+2;
    cursor: pointer;
    transition: .5s;
  }

  #shownav {
    display:none;
  }

  #hidenav {
    display:none;
  }

  .column {
      width: 100%;
  }

  /* Place the timelime to the left
  .timeline::after {
      left: 31px;
  }

  /* Full-width containers
  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards
  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot
  .left::after, .right::after {
      left: 15px;
  }

  /* Make all right containers behave like the left ones
  .right {
      left: 0%;
  }

  #par {
    font-size: 25px;
  }

  .content {
    font-size: 25px;
  }

  .content p {
    font-size: 25px !important;
  }
}
**/
/* Micro modifs */

#prenom {white-space:nowrap;}

#sectionParcours { margin-top: 90px; }
a[href='#sectionPres'] {
  margin-top: 20px;
}
